/* CSS Document */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
	margin: 0;
	padding: 0;
}
body, button, input, select, textarea {
	font: 12px "Microsoft YaHei",Arial,Helvetica,sans-serif;
}
button, input, select, textarea {
	outline: none;
}
textarea {
	resize: none
}
address, cite, dfn, em, var {
	font-style: normal;
}
ul, ol {
	list-style: none;
}
a, u {
	text-decoration: none;
	outline: medium none;
	outline: none;
}
a:hover {
	outline: medium none;
	outline: none;
}
img {
	border: 0 none;
}
button, input, select, textarea {
	font-size: 100%;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.fw { font-weight:bold;}
.clr::after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
}
.clr {
 *zoom: 1;
}
.disinbl{
	display: inline-block;
}
.font20{
	font-size: 20px;
}
.font16{
	font-size: 16px !important;
}
/* CSS Document */
.fl{ float:left;}
.fr{ float:right;}
.dn{ display:none;}
.mau{ margin:0 auto;}
.oh{ overflow:hidden;}
.w80{
	width: 80%;
}
.w100{
	width: 100%;
}
.pad10{
	padding: 10px;
}
.padbot15{
	padding-bottom: 15px;
}
.mart15{
	margin-bottom: 15px;
}
.mart12{
	margin-top: 12px;
}
.mart8{
	margin-top: 8px;
}
.bono{
	border: none !important;
}
.borbotno{
	border-bottom: none !important;
}
.borbot{
	border-bottom: 1px solid #E3E3E3 !important;
}
.borright{
	border-right: 1px solid #E3E3E3;
}
.bortopbot{
	border-bottom: 1px solid #E3E3E3;
	border-top: 1px solid #E3E3E3;
}
.backwrite{
	background: #FFFFFF;
}
.backf3fbff{
	background: #f3fbff;
}
.texr{
	text-align: right;
}
.texc{
	text-align: center;
}
.texl{
	text-align: left;
}
/*顶部返回栏*/
.rebar{background: #76B0E0;}
.rebar .mui-title{color: #fff;}
.rebar .mui-icon{color: #fff;}

/*字体颜色*/
.color-f00{color: #f00!important;}/*红色*/
.cartNums{
	position: absolute;
	left: 55%;
	top: 0px;
	width: 18px;
	height: 18px;
	display: inline-block;
	border-radius: 50%;
	background: #f00;
	font-size: 13px;
	color: #fff;
	line-height: 18px;
	z-index: 100;
	display: none;
}
.cartNumsF{
	position: absolute;
	left: 48%;
	top: -5px;
	width: 16px;
	height: 16px;
	display: inline-block;
	border-radius: 50%;
	background: #f00;
	font-size: 12px;
	color: #fff;
	line-height: 16px;
	z-index: 100;
	display: none;
	text-align: center;
}
#cart_boss{
	position: relative;
}

.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before {
    color: #76B0E0;
}
.mui-bar-tab .mui-tab-item .mui-icon~.mui-tab-label{font-size: 14px;}
